# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

main

logs
connector/token/logs
connector/sign/logs
connector/logger/logs
connector/header/logs
connector/message/logs
connector/httplib/logs
connector/env/logs
connector/error_proc/logs

*.log